/* CSS Document */

body {
	background-color: white;
	font-size:100%;
    line-height:100%;
    letter-spacing:.1em;
    font-family: sofia-pro-soft, sans-serif;
    font-weight: normal;
    font-style: normal;
}

ul{
  float:left;
  margin-left: 0;
  width:575px;
}

h1{
  width: 575px;
  margin: 25px 0px 75px 0px;
  text-align:center;
  color:gray;
  font-size:20;
}

.strategies{
float:center;
  width: 400px;
}

.button--green{
  margin-right:6;
  margin-left:0;
  padding: 6;
  background-color: #87C4AF;
  border: 4px solid #87C4AF;
  color: white;
}

.fingerprint{

}

